<%- include("partials/header"); -%>

<div class="container text-center">
      <p class="btn  btn-lg">
            <a class="btn btn-lg btn-primary" href="/products/new"> <b>+</b> New Product</a>
          </p>
          
</div>

<% laptops.forEach(function(laptop){%>
      <div>
          <h2><%= laptop.company_name%></h2>
          <img src="<%= laptop.url%>" alt="image">
          <p><%= laptop.product_name%></p>
          <p><%= laptop.price%></p>
          <p><%= laptop.generation%></p>
          <p><%= laptop.operating_system%></p>
          <p><%= laptop.batty_life%></p>
          <p><%= laptop.keyboard_light%></p>
          <p><%= laptop.ram%></p>
          <p><%= laptop.ssd%></p>
          <p><%= laptop.hdd%></p>
          <p><%= laptop.tag%></p>
      </div>
  <%})%>




<%- include("partials/footer"); -%>
